<div class="specialists-page">
  <h1 class="page-title">Специалисты</h1>

  <div class="resume-grid">
    @for (r of specialists(); track r.id) {
      <a [routerLink]="['/resume', r.id]">
        <div class="card resume-card">
          <div class="resume-card-content">
            <h3 class="resume-card-title">
              {{ r.title }}
            </h3>
            <p class="resume-card-info">{{ r.personalInfo.fullName }}</p>
            <p class="resume-card-meta">{{ r.workExperience.length }} мест работы</p>
          </div>
        </div>
      </a>
    }
  </div>
</div>
