<div class="layout">
  <header class="header card">
    <a routerLink="/" class="logo">Ahh</a>
    <nav class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Вакансии</a>
      @if (auth.isRole('specialist')) {
        <a routerLink="/specialist" routerLinkActive="active">Специалисты</a>
      }
      @if (auth.isRole('hr')) {
        <a routerLink="/specialists" routerLinkActive="active">Специалисты</a>
        <a routerLink="/my-vacancies" routerLinkActive="active">Мои вакансии</a>
      }
    </nav>
    <button type="button" class="btn btn-logout" (click)="auth.logout()">Выйти</button>
  </header>
  <main class="main">
    <router-outlet />
  </main>
</div>
